/* ----------------------------- */
/* ------ GLOBAL COLORS -------- */
/* ----------------------------- */

/* GLOBAL COLOR SETTINGS */
body {
    background: var(--color-body-background);
    color: var(--color-body-text);
}
a {
    color: var(--color-links);
}
a:hover {
    color: var(--color-links-dark);
}
a:visited {
    color: var(--color-links-dark);
}